.content{
    color: white;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh 30vh;
}

.upperSection{
    background-color: rgb(55, 55, 55);
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 25px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.upperSection>form{
    display: flex;  
    flex-direction: column;
    margin-bottom: 35px;
    width: 75%;
}


.upperSection>form>input{
    height: 35px;
    margin-bottom: 15px;
    border-radius: 2px;
}

.lowerSection{
    background-color: rgb(55, 55, 55);
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    height: 50%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.lowerSection>button{
    width: 75%;
    height: 35px;
    border-radius: 3px;
    transition-duration: 0.2s;
    background-color: red;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px black;
}

.lowerSection>button:hover{
    background-color: rgba(236, 228, 228, 0.09);
    color: white;
}