.content{
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 85vh;
    padding-bottom: 40px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}