.container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: rgb(0, 0, 0);
}

.loading{
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #E80000;
    animation: is-rotating 1s infinite;
    border-radius: 50%;
    
}

@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}